.bs-slider--bg {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.bs-slider__gallery {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  align-items: center;
}
.bs-slider__gallery.bs-slider--visible {
  display: flex;
}
.bs-slider__gallery.bs-slider--show .bs-slider__gallery__inner {
  opacity: 1;
}
.bs-slider__gallery__inner {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
  opacity: 0;
  transition: opacity 0.2s;
}
.bs-slider__gallery .bs-slider {
  width: 100%;
  max-height: 100%;
}
.bs-slider__gallery .carousel-inner,
.bs-slider__gallery .carousel-item {
  height: 100%;
}
.bs-slider__gallery .carousel-indicators {
  transform: translateY(100%);
  margin-bottom: 0;
}
.bs-slider__gallery .media {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bs-slider__gallery .media > .field {
  max-height: 100%;
}
@media (min-width: 768px) {
  .bs-slider__gallery .media > .field {
    max-height: 95%;
  }
}
.bs-slider__gallery .media img {
  height: 100%;
  object-fit: contain;
}
.bs-slider__thumbnails .bs-slider__item {
  cursor: pointer;
}
.bs-slider__thumbnails .media {
  overflow: hidden;
}
.bs-slider__thumbnails img {
  width: 100%;
  transition: transform 0.15s ease;
  transform: scale(1) translateZ(0);
}
.bs-slider__thumbnails img:hover {
  transform: scale(1.05);
}
.bs-slider__close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  line-height: 1.5rem;
  outline: 0;
  opacity: 0.5;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
}
.bs-slider__close:hover, .bs-slider__close:focus {
  color: #fff;
  opacity: 0.9;
  text-decoration: none;
}
