.bs-slider--layout--grid {
  display: flex;
  flex-wrap: wrap;
  --gap: 0;
  --columns: 1;
}
.bs-slider--layout--grid .bs-slider__item {
  flex: 1 0 calc(100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns));
  max-width: calc(100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns));
}
.bs-slider--layout--grid.bs-slider--columns--2 {
  --columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--2 {
    --columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--2 {
    --columns: 2;
  }
}
.bs-slider--layout--grid.bs-slider--columns--3 {
  --columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--3 {
    --columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--3 {
    --columns: 3;
  }
}
.bs-slider--layout--grid.bs-slider--columns--4 {
  --columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--4 {
    --columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--4 {
    --columns: 4;
  }
}
.bs-slider--layout--grid.bs-slider--columns--6 {
  --columns: 2;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--6 {
    --columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--6 {
    --columns: 6;
  }
}
.bs-slider--layout--grid.bs-slider--columns--9 {
  --columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--9 {
    --columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--9 {
    --columns: 9;
  }
}
.bs-slider--layout--grid.bs-slider--columns--12 {
  --columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--12 {
    --columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--12 {
    --columns: 12;
  }
}
.bs-slider--layout--grid.bs-slider--columns--1-2-2 {
  --columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--1-2-2 {
    --columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--1-2-2 {
    --columns: 2;
  }
}
.bs-slider--layout--grid.bs-slider--columns--1-3-3 {
  --columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--1-3-3 {
    --columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--1-3-3 {
    --columns: 3;
  }
}
.bs-slider--layout--grid.bs-slider--columns--1-2-4 {
  --columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--1-2-4 {
    --columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--1-2-4 {
    --columns: 4;
  }
}
.bs-slider--layout--grid.bs-slider--columns--2-3-6 {
  --columns: 2;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--2-3-6 {
    --columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--2-3-6 {
    --columns: 6;
  }
}
.bs-slider--layout--grid.bs-slider--columns--3-6-9 {
  --columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--3-6-9 {
    --columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--3-6-9 {
    --columns: 9;
  }
}
.bs-slider--layout--grid.bs-slider--columns--3-6-12 {
  --columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--3-6-12 {
    --columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--3-6-12 {
    --columns: 12;
  }
}
.bs-slider--layout--grid.bs-slider--columns--2-3-4 {
  --columns: 2;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--2-3-4 {
    --columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--2-3-4 {
    --columns: 4;
  }
}
.bs-slider--layout--grid.bs-slider--columns--3-4-4 {
  --columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--grid.bs-slider--columns--3-4-4 {
    --columns: 4;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--grid.bs-slider--columns--3-4-4 {
    --columns: 4;
  }
}
.bs-slider--layout--column {
  column-gap: 0;
}
.bs-slider--layout--column .bs-slider__item {
  break-inside: avoid;
}
.bs-slider--layout--column.bs-slider--columns--2 {
  columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--2 {
    columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--2 {
    columns: 2;
  }
}
.bs-slider--layout--column.bs-slider--columns--3 {
  columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--3 {
    columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--3 {
    columns: 3;
  }
}
.bs-slider--layout--column.bs-slider--columns--4 {
  columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--4 {
    columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--4 {
    columns: 4;
  }
}
.bs-slider--layout--column.bs-slider--columns--6 {
  columns: 2;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--6 {
    columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--6 {
    columns: 6;
  }
}
.bs-slider--layout--column.bs-slider--columns--9 {
  columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--9 {
    columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--9 {
    columns: 9;
  }
}
.bs-slider--layout--column.bs-slider--columns--12 {
  columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--12 {
    columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--12 {
    columns: 12;
  }
}
.bs-slider--layout--column.bs-slider--columns--1-2-2 {
  columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--1-2-2 {
    columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--1-2-2 {
    columns: 2;
  }
}
.bs-slider--layout--column.bs-slider--columns--1-3-3 {
  columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--1-3-3 {
    columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--1-3-3 {
    columns: 3;
  }
}
.bs-slider--layout--column.bs-slider--columns--1-2-4 {
  columns: 1;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--1-2-4 {
    columns: 2;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--1-2-4 {
    columns: 4;
  }
}
.bs-slider--layout--column.bs-slider--columns--2-3-6 {
  columns: 2;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--2-3-6 {
    columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--2-3-6 {
    columns: 6;
  }
}
.bs-slider--layout--column.bs-slider--columns--3-6-9 {
  columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--3-6-9 {
    columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--3-6-9 {
    columns: 9;
  }
}
.bs-slider--layout--column.bs-slider--columns--3-6-12 {
  columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--3-6-12 {
    columns: 6;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--3-6-12 {
    columns: 12;
  }
}
.bs-slider--layout--column.bs-slider--columns--2-3-4 {
  columns: 2;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--2-3-4 {
    columns: 3;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--2-3-4 {
    columns: 4;
  }
}
.bs-slider--layout--column.bs-slider--columns--3-4-4 {
  columns: 3;
}
@media (min-width: 768px) {
  .bs-slider--layout--column.bs-slider--columns--3-4-4 {
    columns: 4;
  }
}
@media (min-width: 1200px) {
  .bs-slider--layout--column.bs-slider--columns--3-4-4 {
    columns: 4;
  }
}
.bs-slider--layout--gutter--none {
  --gap: 0;
  gap: 0;
}
.bs-slider--layout--gutter--none.bs-slider--layout--column .bs-slider__item {
  margin-bottom: 0;
}
.bs-slider--layout--gutter--small {
  --gap: 10px;
  gap: 10px;
}
.bs-slider--layout--gutter--small.bs-slider--layout--column .bs-slider__item {
  margin-bottom: 10px;
}
.bs-slider--layout--gutter--medium {
  --gap: 15px;
  gap: 15px;
}
.bs-slider--layout--gutter--medium.bs-slider--layout--column .bs-slider__item {
  margin-bottom: 15px;
}
.bs-slider--layout--gutter--large {
  --gap: 30px;
  gap: 30px;
}
.bs-slider--layout--gutter--large.bs-slider--layout--column .bs-slider__item {
  margin-bottom: 30px;
}
