{% extends "bs-slider.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a Bootrsap Gallery Grid component.
 *
 * Available variables:
 * - items - Array of thumbnail items.
 * - gallery_items - Array of gallery items.
 * - options - Array of bs_slider optionset
 * - attributes: HTML attributes for the containing element.
*/
#}
{% block slider %}
  {{ attach_library('bs_lib/carousel') }}
  {{ attach_library('bs_slider_bootstrap/gallery') }}
  {{ attach_library('bs_slider_bootstrap/layout') }}
  <div {{ attributes.addClass(classes) }}>
    {% block thumbnails %}
      <div class="bs-slider__thumbnails bs-slider--layout--{{ options.layout }} bs-slider--columns--{{ options.column_count }} bs-slider--layout--gutter--{{ options.gutter }}">
        {% for item in items -%}
          <div class="bs-slider__item">
            {{ item }}
          </div>
        {%- endfor %}
      </div>
    {% endblock %}
    {% block gallery %}
      <div class="bs-slider__gallery bs-slider--bg">
        <div class="bs-slider__gallery__inner">
          {% block close %}
            {# When close component is a link do not try to use href="#" because
               it will reset scrolling after close to top of the page. #}
            <a class="bs-slider__close" title="{{ 'Close'|t }}" role="button">
              <span aria-hidden="true">&times;</span>
            </a>
          {% endblock %}
          {{ gallery_items }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
